*{
    margin: 0;
}

html, body{
    margin: 0;
}


header{
  justify-content: center;
  background-image: linear-gradient(160deg, red , black 40%, red 200%);
  color: rgba(251, 255, 9, 0.924);
  text-shadow: royalblue;
  height: 3%;
  width: 100%;
  justify-items: center;
  text-align: center;
  font-size: 5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 5px;
}

/* Add a black background color to the top navigation */
header .topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}
  /* Style the links inside the navigation bar */
header .topnav a {
    align-content: left;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 15px;
}
  /* Change the color of links on hover */
header .topnav a:hover {
    background-color: #ddd;
    color: black;
}
  /* Add a color to the active/current link */
header .topnav a.active {
    background-color: rgba(22, 168, 253, 0.829);
    color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

header .images {
    float: left;
    padding-top: 08px;
    padding-left: 16px;
}






main{
  display: inline-flex;
  background-image: linear-gradient(160deg, red , black 5%, red 500%);
  color: white;
  width: 100%;
  height: 100%;
}

/* Style the tab */
main .tab {
  padding-block-end: 8px;
  padding-top: 26px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-image: linear-gradient(160deg, rgb(35, 78, 208), rgb(67, 34, 196));
  width: 20%;
  height: 900px;
  margin: 15px 7.5px 15px 15px;
  border-radius: 10px;
  }
  
  /* Style the buttons inside the tab */
main .tab button {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    text-align: left;
    background-color: #f5900bc6;
    color: rgb(251, 248, 248);
    font-size: 15px;
    width: 90%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
main .tab button:hover {
    background-color: rgba(101, 228, 11, 0.557);
    font-weight: bold;
  }
  
  /* Create an active/current "tab button" class */
main .tab button.active {
    background-color: yellow;
    color: red;
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Style the tab content */
main .tabcontent {
    background-image: linear-gradient(160deg, rgb(241, 207, 53), rgb(236, 120, 42));
    color: black;
    padding: 26px;
    width: 85%;
    margin: 15px 15px 15px 7.5px ;
    border-radius: 10px;
  }

h2{
  font-size: 2.5em;
}
h1{
  font-size: 2.5em;
}

main #gallery .container img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
main #gallery .container {
  position: relative;
  width: 100%;
}

/* Hide the images by default */
main #gallery .container .mySlides {
  display: relative;
}

/* Add a pointer when hovering over the thumbnail images */
main #gallery .container .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
main #gallery .container .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
main #gallery .container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
main #gallery .container .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
main #gallery .container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
main #gallery .container .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

main #gallery .container .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
main #gallery .container .column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
main #gallery .container .demo {
  opacity: 0.6;
  background-color: gainsboro ;
}

main #gallery .container .active,
.demo:hover {
  opacity: 1;
}

main .about {
    display: block;
    color: thistle;
    background-image: linear-gradient(160deg, rgb(5, 99, 192), rgb(12, 23, 223));
    width:20%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
  }

main .about .team_info{
  display: inline-flex;
  margin-bottom: 10px;
}

main .about .member_info1{
  display: inline-flex;
  margin-bottom: 10px;
}

main .about .member_info2{
  display: inline-flex;
  margin-bottom: 10px;
}

main .about .member_info3{
  display: inline-flex;
  margin-bottom: 5px;
}





footer{
    align-content: bottom;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgb(66, 28, 10);
}

footer .thanks{
    padding-bottom: 30px;
    background-color: transparent;
}

/* Style all font awesome icons */
footer .fa {
    
    align-content: center;
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
  }
  
/* Add a hover effect if you want */
footer .fa:hover {
    opacity: 0.7;
}
  
/* Set a specific color for each brand */
  
/* Facebook */
footer .fa-facebook {
    background: #3B5998;
    color: white;
}
  
/* Twitter */
footer .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
footer .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
footer .fa-instagram {
    background-image: url("/images/background.jfif");
    color: white;
  }