@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

* {
  margin: 0;
  font-family: Open Sans, Arial;
  box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(160deg, black 85%, red);
}

main{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
  
/* Add a black background color to the top navigation */
.topnav {
    background-image: linear-gradient(162deg, red , black 31%);   /*using gradients*/
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 15px;
    padding-right: 15px;
    text-decoration: underline;
}
  
h1 {
    display: block;
    background-image: linear-gradient(160deg, red , black 20%);   /*using gradients*/
    margin: 0 auto;
    color: #f1c650;
    text-shadow: 0 0 0px rgb(219, 91, 68), 0 0 50px #f2c94c;
    text-align: center;
    font-family: "Pacifico";
    font-size: 5em;
}
  
